.summary-container {
    min-height: 700px;
}

.summary-tab {
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        .units {
            padding: 3em;
            display: flex;
            flex-direction: row;
            gap: 20px;
            border: 1px solid;
            background: #c1d961;
            border-radius: 20px;
            margin: 1em;
        }
}

.cursor-none {
    cursor: no-drop;
    opacity: 40%;
}

input {
    border-radius: 0.375rem;
    border: 1px solid;
    height: 2em;
    width: 30%;
    min-width: 50px;
  }
  input::placeholder {  
    text-align: center;
    }

.table-data {
    padding-left: 5%;
}

.cursor-pointer {
    cursor: pointer;
}

.shade-icon {
    opacity: 40%;
}

.acquisition-tab {
    padding: 3em;
    .units {
        padding: 3em;
        background-color: #c1d961;
        width: 20%;
        border-radius: 20px;
        margin: 1em;
        padding: 3em;
    }
}
label {
    text-wrap: nowrap;
}
.endgame-plan {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    .units {
        padding: 3em;
        display: flex;
        flex-direction: row;
        gap: 20px;
        background-color: #c1d961;
        border-radius: 20px;
        margin: 1em;
    }
}
.final-btn {
    height: 3em;
    width: 10em;
    cursor: pointer;
    border: 1px solid;
    border-radius: 0.375rem;
    background: #2bac36;
    color: BLACK;
    float: right;
  }
  