<div class="summary-container" *ngIf="true">
    <mat-tab-group>
        <mat-tab label="Summary"> 
            <div class="summary-tab">
                  
                  <table mat-table [dataSource]="dataElements1" class="mat-elevation-z8">
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Metric Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Value Column -->
                    <ng-container matColumnDef="value">
                      <th mat-header-cell *matHeaderCellDef> Metric Value </th>
                      <td mat-cell *matCellDef="let element" > 
                        <span> {{result[element.key] ?? 0}}</span>
                     </td>
                    </ng-container>
                  
                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element" [ngClass]="element.action ? 'cursor-pointer' : 'cursor-none'">
                        <div *ngIf="!element.editable">
                            <mat-icon (click)="changeToInput(element.key, 1)">edit</mat-icon> 
                        </div>
                        <div *ngIf="element.editable">
                            <input [placeholder]="element.key" id="element.key" type="number" min=0 [(ngModel)]="result[element.key]" (keyup.enter)="onEnter($event, element.key, 1)"/> 
                        </div>
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <table mat-table [dataSource]="dataElements2" class="mat-elevation-z8">
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Metric Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Value Column -->
                    <ng-container matColumnDef="value">
                      <th mat-header-cell *matHeaderCellDef> Metric Value </th>
                      <td mat-cell *matCellDef="let element" > 
                        <span> {{result[element.key] ?? 0}}</span>
                     </td>
                    </ng-container>
                  
                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element" [ngClass]="element.action ? 'cursor-pointer' : 'cursor-none'">
                        <div *ngIf="!element.editable">
                            <mat-icon (click)="changeToInput(element.key, 2)">edit</mat-icon> 
                        </div>
                        <div *ngIf="element.editable">
                            <input [placeholder]="element.key" id="element.key" type="number" min=0 [(ngModel)]="result[element.key]" (keyup.enter)="onEnter($event, element.key, 2)"/> 
                        </div>
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
                <!-- <div class="col-1">
                    <div class="units">
                        <label>Purchase Price</label>
                        <span>{{result.purchase_price}}</span>
                    </div>
                    <div class="units">
                        <label>No of Units</label>
                        <span>{{result.no_of_units}}</span>
                    </div>
                    <div class="units">
                        <label>EMD & %</label>
                        <app-editable-field [key]="'emd'" [value]="summary.emd" (calculateValues) = changeEmitter($event)></app-editable-field>
                        {{result.emd}}
                    </div>
                    <div class="units">
                        <label>2 - Loan</label>
                        <app-editable-field [key]="'loan'" [value]="summary.loan" (calculateValues) = changeEmitter($event)></app-editable-field>
                        {{result.loan}}
                    </div>
                    <div class="units">
                        <label>Interest Rate</label>
                        <app-editable-field [key]="'interest_rate'" [value]="summary.interest_rate" (calculateValues) = changeEmitter($event)></app-editable-field>
                        {{result.interest_rate}}
                    </div>
                    <div class="units">
                        <label>Amortization</label>
                        <app-editable-field [key]="'amortization'" [value]="summary.amortization" (calculateValues) = changeEmitter($event)></app-editable-field>
                        {{result.amortization}}
                    </div>
                </div>
                <div class="col-2">
                    <div class="units">
                        <label>Interest Only</label>
                        <app-editable-field [key]="'interest_only'" [value]="summary.interest_only" (calculateValues) = changeEmitter($event)></app-editable-field>
                        {{result.interest_only}} months
                    </div>
                    <div class="units">
                        <label>Acquisition Fee</label>
                        <app-editable-field [key]="'acquisition_fee'" [value]="summary.acquisition_fee" (calculateValues) = changeEmitter($event)></app-editable-field>
                        {{result.acquisition_fee}}
                    </div>
                    <div class="units">
                        <label>Eff Gross Income</label>
                        <app-editable-field [key]="'eff_gross_income'" [value]="summary.eff_gross_income" (calculateValues) = changeEmitter($event)></app-editable-field>
                        <span>{{result.eff_gross_income}}</span>
                    </div>
                    <div class="units">
                        <label>Total Expenses & %</label>
                        <app-editable-field [key]="'total_expenses'" [value]="summary.total_expenses" (calculateValues) = changeEmitter($event)></app-editable-field>
                        {{result.total_expenses}}
                    </div>
                    <div class="units">
                        <label>NOI</label>
                        <span>{{result.noi}}</span>
                    </div>
                    <div class="units">
                        <label>Debt coverage Ratio (Y1)</label>
                        <span>{{result.debt_service_ratio}}</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="units">
                        <label>Debt Service</label>
                        <app-editable-field [key]="'debt_service'" [value]="summary.debt_service" (calculateValues) = changeEmitter($event)></app-editable-field>
                        <span>{{result.debt_service}}</span>
                    </div>
                    <div class="units">
                        <label>Cash flow after Debt Service</label>
                        <span>{{result.cash_flow_debt_service}}</span>
                    </div>
                    <div class="units">
                        <label>LP - Equity Share</label>
                        <app-editable-field [key]="'lp_equity_share'" [value]="summary.lp_equity_share" (calculateValues) = changeEmitter($event)></app-editable-field>
                        <span>{{result.lp_equity_share}}</span>
                    </div>
                    <div class="units">
                        <label>GP - Equity Share</label>
                        <span>{{result.gp_equity_share}}</span>
                    </div>
                    <div class="units">
                        <label>Preferred Return to LP</label>
                        <app-editable-field [key]="'preff_return_to_lp'" [value]="summary.preff_return_to_lp" (calculateValues) = changeEmitter($event)></app-editable-field>
                        <span>{{result.preff_return_to_lp}}</span>
                    </div>
                    <div class="units">
                        <label>Asset Management Fee</label>
                        <app-editable-field [key]="'asset_mgmt_fee'" [value]="summary.asset_mgmt_fee" (calculateValues) = changeEmitter($event)></app-editable-field>
                        <span>{{result.asset_mgmt_fee}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="units">
                        <label>Fee to Mgr</label>
                        <app-editable-field [key]="'fee_to_mgr'" [value]="summary.fee_to_mgr" (calculateValues) = changeEmitter($event)></app-editable-field>
                        <span>{{result.fee_to_mgr}}</span>
                    </div>
                    <div class="units">
                        <label>Gross Rent Mltiplier</label>
                        <span>{{result.gross_rent_multiplier}}</span>
                    </div>
                    <div class="units">
                        <label>Cash on Cash return Avg</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Average Annual Retun</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>IRR</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Total Returns</label>
                        <span></span>
                    </div>
                </div> -->
            </div>    
        
        </mat-tab>
        <mat-tab label="Acquisition Expenses"> 
            <div class="acquisition">
                <div class="acquisition-tab">
                    <table mat-table [dataSource]="acquisitionDataElements" class="mat-elevation-z8">
                  
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Metric Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                      
                        <!-- Value Column -->
                        <ng-container matColumnDef="value">
                          <th mat-header-cell *matHeaderCellDef> Metric Value </th>
                          <td mat-cell *matCellDef="let element" > 
                            <span> {{result[element.key] ?? 0}}</span>
                         </td>
                        </ng-container>
                      
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Action </th>
                          <td mat-cell *matCellDef="let element" [ngClass]="element.action ? 'cursor-pointer' : 'cursor-none'">
                            <div *ngIf="!element.editable">
                                <mat-icon (click)="acqusitionInput(element.key)">edit</mat-icon> 
                            </div>
                            <div *ngIf="element.editable">
                                <input [placeholder]="element.key" id="element.key" type="number" min=0 [(ngModel)]="result[element.key]" (keyup.enter)="onAcqusitionEnter($event, element.key)"/> 
                            </div>
                          </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    <!-- <div class="units">
                        <label>Down payment</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Closing cost</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Acquistion Fee</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Repair</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Total Capital </label>
                        <span></span>
                    </div> -->
                </div>
            </div>
            
        </mat-tab>
        <mat-tab label="End Game Plan"> 
            <div class="endgame-plan">
                <div class="endgame-tab">
                    <table mat-table [dataSource]="endGameDataElements1" class="mat-elevation-z8">
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Metric Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                        <!-- Value Column -->
                        <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef> Metric Value </th>
                        <td mat-cell *matCellDef="let element" > 
                            <span> {{result[element.key] ?? 0}}</span>
                        </td>
                        </ng-container>
                    
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element.action ? 'cursor-pointer' : 'cursor-none'">
                            <div *ngIf="!element.editable">
                                <mat-icon (click)="endGameInput(element.key, 1)">edit</mat-icon> 
                            </div>
                            <div *ngIf="element.editable">
                                <input [placeholder]="element.key" id="element.key" type="number" min=0 [(ngModel)]="result[element.key]" (keyup.enter)="onEndGameEnter($event, element.key, 1)"/> 
                            </div>
                        </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <table mat-table [dataSource]="endGameDataElements2" class="mat-elevation-z8">
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Metric Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                        <!-- Value Column -->
                        <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef> Metric Value </th>
                        <td mat-cell *matCellDef="let element" > 
                            <span> {{result[element.key] ?? 0}}</span>
                        </td>
                        </ng-container>
                    
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element.action ? 'cursor-pointer' : 'cursor-none'">
                            <div *ngIf="!element.editable">
                                <mat-icon (click)="endGameInput(element.key, 2)">edit</mat-icon> 
                            </div>
                            <div *ngIf="element.editable">
                                <input [placeholder]="element.key" id="element.key" type="number" min=0 [(ngModel)]="result[element.key]" (keyup.enter)="onEndGameEnter($event, element.key, 2)"/> 
                            </div>
                        </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>    
                  </div>
                <!-- <div class="col-1">
                    <div class="units">
                        <label>Cash out Re-Finance at Year</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Closing cost</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>After Sale</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Amount Paid to LP</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Amount paid to GP</label>
                        <span></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="units">
                        <label>IRR</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Cash on Cash Average</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Refianance</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Re-Fianance LTV</label>
                        <app-editable-field [key]="'lp_equity_share'" [value]="summary.lp_equity_share" (calculateValues) = changeEmitter($event)></app-editable-field>
                    </div>
                    <div class="units">
                        <label>Interest Rate</label>
                        <app-editable-field [key]="'lp_equity_share'" [value]="summary.lp_equity_share" (calculateValues) = changeEmitter($event)></app-editable-field>
                    </div>
                </div>
                <div class="col-3">
                    <div class="units">
                        <label>Amortization</label>
                        <app-editable-field [key]="'lp_equity_share'" [value]="summary.lp_equity_share" (calculateValues) = changeEmitter($event)></app-editable-field>
                    </div>
                    <div class="units">
                        <label>Re-Fianance cost</label>
                        <app-editable-field [key]="'lp_equity_share'" [value]="summary.lp_equity_share" (calculateValues) = changeEmitter($event)></app-editable-field>
                    </div>
                    <div class="units">
                        <label>Prepayment Penalty</label>
                        <app-editable-field [key]="'lp_equity_share'" [value]="summary.lp_equity_share" (calculateValues) = changeEmitter($event)></app-editable-field>
                    </div>
                    <div class="units">
                        <label>Gross Proceeds from Re-Fi</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Net Proceeds to LP</label>
                        <span></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="units">
                        <label>Net Proceeds to GP</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Total Cash to LP/GP</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Sale</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Sales Cost</label>
                        <app-editable-field [key]="'lp_equity_share'" [value]="summary.lp_equity_share" (calculateValues) = changeEmitter($event)></app-editable-field>
                    </div>
                    <div class="units">
                        <label>Net Proceeds from Sale</label>
                        <span></span>
                    </div>
                </div>
                <div class="col-5">
                    <div class="units">
                        <label>Net Proceeds from Sale</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Net Proceeds to LP</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Net Proceeds to GP</label>
                        <span></span>
                    </div>
                    <div class="units">
                        <label>Total Cash to LP/GP</label>
                        <span></span>
                    </div>
                </div> -->
            </div>
        </mat-tab>
      </mat-tab-group>
      <div>
        <button type="button" class="final-btn" (click)="onSubmit()">Submit</button>
      </div>
</div>