.router-container {
    padding: 1em;
}
.main-container{
    background-color: white;
    height: 100%;
    padding-right: 7.5rem;
    padding-left: 7.5rem;
    margin-right: 10rem;
    margin-left: 10rem;
    background-image: url('./../assets/img/snt-new.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}